* {
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif;
}

.ban1 {
    padding: 1.2%;
    padding-top: 2%;
}

.ban1 ul {
    list-style: none;
}

.ban1 ul li a {
    text-decoration: none;
    color: white;
}

.ban2 a {
    text-decoration: none;
    color: white;
}

.ban2 {
    justify-content: right;
    text-align: right;
    padding-top: 1%;
}



body {
    overflow-x: hidden;
}

.links a {
    color: white;
    text-decoration: none;
    border-bottom: 0.1px solid red;
}

.text {
    opacity: 0.7;
}

.naslov:hover {
    color: red;
    cursor: pointer;
}

.text:hover {
    cursor: pointer;
    opacity:1 ;
    color: white;
}

.slika {
    cursor: pointer;
}

.adam:hover {
    color: red;
    cursor: pointer;
}

.elen:hover {
    color: red;
    cursor: pointer;
}

.detr:hover {
    color: red;
    cursor: pointer;
}

.amelie:hover {
    color: red;
    cursor: pointer;
}

.halo:hover {
    color: red;
    cursor: pointer;
}

.linkovi a {
    text-decoration: none;
    color: white;
    padding-left: 5%;
    font-size: 34px;
}

.linkk {
    padding-left: 4%;
}

.linkk:hover {
    color: red;
    cursor: pointer;
}


.foot a {
    text-decoration: none;
    color: white;
    padding-left: 2%;
}

.foot a:hover {
    cursor: pointer;
    color: red;
}

.element i:hover {
    color: red;
    cursor: pointer;
    
}

.prvimenu {
    display: flex;
}

.prvimenu li {
    padding-left: 10%;
}

.fa-magnifying-glass {
    padding-left: 14%; 
    padding-top: 1%;
}

@media (max-width: 768px) {
    .prvimenu {
      display: none;
    }
  }

  
  @media (max-width: 768px) {
    .fa-magnifying-glass {
      margin-left: -10px;
      padding-top: 7%;
      font-size: 20px;
    }
  }

  .ban1 img {
    width: 35px; 
    height: 35px;
  }

  @media (max-width: 768px) {
    .ban1 img {
      padding-top: 2%;
      width: 80px;
      height: 60px;
      padding-left: 8%;
    }
  }

  @media (max-width: 768px) {
    .ban1 {
      width: 50%;
    }
  }

  @media (max-width: 768px) {
    .ban2 {
      width: 50%;
      height: 80px;
    }
  }

  @media (max-width: 768px) {
    .ban2 i,a {
      display: none;
    }
  }

  @media (max-width: 768px) {
    .klik {
      padding-right: 10%;
      margin-top: -50px;
    }
  }

.klik {
    font-size: 35px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .kidy h1 {
      padding-left: 12%;
      margin-top: -7%;
    }
  }

.kiddy {
    background-image: url(kiddy.png); 
    margin-top: 20%; 
    margin-bottom: 5%; 
    float: right; 
    width: 220px; 
    height: 220px; 
    background-size: cover; 
    background-repeat: no-repeat; 
    border-radius: 50%;
}

  @media (max-width: 768px) {
    .kiddy {
      margin-right: 24%;
      width: 240px; 
      height: 240px;
       
    }
  }

  @media (max-width: 768px) {
    .navbar  {
      padding-bottom: 40px; 
    }
  }

  @media (max-width: 768px) {
    .navnav  {
      height: 120px;
    }
  }

  @media (max-width: 768px) {
    .navbar a {
      display: inline-block;
      padding-bottom: 20px;
    }
  }

  .navbar {
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black; 
    height: 90px;
  }
  
  .navbar a {
    
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  

  
  .navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    border-bottom: 1px solid red;
  }

.navnav {
    background-color: black; 
    color: white;
}

.locat {
    padding-top: 12px;
}

.locat ul {
    color: white; 
    list-style: none; 
    margin: 0; 
    margin-left: -2%; 
    display: flex;
}

@media (max-width: 768px) {
    .locat ul {
      padding-top: 5%;
    }
  }

  @media (max-width: 768px) {
    #no-show {
      display: none;
    }
  }

  .noshow {
    text-align: center;
    align-items: center;
  }

  .noshow button {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 10px;
  }

  @media (min-width: 768px) {
    .noshow button {
      display: none;
    }
  }

.links {
    width: 170px; 
    margin-top: 12px; 
    margin-bottom: 5%;
}

@media (max-width: 768px) {
    .links a {
      display: block;
    }
  }

  @media (max-width: 768px) {
    .slika {
      display: none;
    }
  }

  @media (max-width: 768px) {
    .eventi {
      padding-left: 20%;
      padding-top: 5%;
    }
  }

  @media (max-width: 768px) {
    .eventi1 {
      width: 100%;
    }
  }

  .stats-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
}

.stats-list li {
  margin-top: 5%;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .stats-list {
      flex-direction: column;
  }

  .stats-list li {
      margin: 5% auto;
      text-align: center;
  }
}
@media (max-width: 768px) {
  .margina {
      align-items: center;
      justify-content: center;
      text-align: center;
      padding-left: 14%;
  }
}

@media (max-width: 768px) {
  .margina1 {
      align-items: center;
      justify-content: center;
      text-align: center;
  }
}

@media (max-width: 768px) {
  .about1 {
      padding-left: 8%;
  }
}

.artist {
  width: 90%; 
  margin: auto; 
  float: center;
}

@media (max-width: 768px) {
  .artist {
      margin-left: -5px;
  }
}

.artisti li {
  width: 33.33%;
}

@media (max-width: 768px) {
  .artisti li {
      width: 100%;
      flex-direction: column;
  }
}

@media (max-width: 768px) {
  .artisti {
      margin-left: -40px;
  }
}

@media (max-width: 768px) {
  .beyer {
      margin-left: 10%;
  }
}

@media (max-width: 768px) {
  .alien {
      margin-left: 10%;
      margin-top: 5%;
  }
}

@media (max-width: 768px) {
  .tekst {
      width: 80%;
  }
}

@media (max-width: 768px) {
  .vijesti {
      width: 90%;
      padding-left: 13%;
      padding-bottom: 5%;
  }
}

@media (max-width: 768px) {
  .linkovi {
      display: flex;
      padding-left: 2%;
  }
}

@media (max-width: 768px) {
  .linkovi h3{
      font-size: 10px;
  }
}

.futi {
  text-align: center;
}

.futi img {
  width: 80px;
}

@media (max-width: 768px) {
  .futi img{
      width: 60px;
  }
}

@media (max-width: 768px) {
  .jaja{
      height: 100vh;
  }
}

@media (max-width: 768px) {
  .promoter {
      padding-left: 2%;
  }
}

@media (max-width: 768px) {
  .resident{
      display: block;
  }
}

@media (max-width: 768px) {
  .resident1,
  .element {
      width: 50%;
  }
}

.element {
  display: flex; 
  text-align: right; 
  justify-content: right; 
  align-items: right; 
  font-size: 22px; 
  padding-top: 5px;
}

.element i {
  padding-right: 10%;
}

@media (max-width: 768px) {
  .foot a {
      display: flex;
  }
}

@media (max-width: 768px) {
  .foot,
  .foot1 {
      width: 50%;
  }
}

@media (max-width: 768px) {
  .foot,
  .foot1,
  .element,
  .resident1 {
      padding: 5%;
  }
}

@media (max-width: 768px) {
  .header {
      height: 100vh;
  }
}

.followers {
  color: red; 
  font-size: 42px;
}

@media (max-width: 768px) {
  .followers {
      font-size: 28px;
  }
}

@media (max-width: 768px) {
  .links a {
      width: 100px;
  }
}

.kidy1 {
  background-image:url(ida.png); width: 120px; height: 120px; background-size: cover; background-repeat: no-repeat; border-radius: 50%; margin-right: 10px; margin-top: 20%;
}

.kidy2 {
  background-image:url(jos.jpeg); width: 120px; height: 120px; background-size: cover; background-repeat: no-repeat; border-radius: 50%; margin-right: 10px; margin-top: 20%;
}

.kidy3 {
  background-image:url(ric.jpeg); width: 120px; height: 120px; background-size: cover; background-repeat: no-repeat; border-radius: 50%; margin-right: 10px; margin-top: 20%;
}

.kidy4 {
  background-image:url(alan.jpeg); width: 120px; height: 120px; background-size: cover; background-repeat: no-repeat; border-radius: 50%; margin-right: 10px; margin-top: 20%;
}

.kidy5 {
  background-image:url(joris.jpeg); width: 120px; height: 120px; background-size: cover; background-repeat: no-repeat; border-radius: 50%; margin-right: 10px; margin-top: 20%;
}

.kidy6 {
  background-image:url(sven.jpeg); width: 120px; height: 120px; background-size: cover; background-repeat: no-repeat; border-radius: 50%; margin-right: 10px; margin-top: 20%;
}

.kidy7 {
  background-image:url(tort.jpeg); width: 120px; height: 120px; background-size: cover; background-repeat: no-repeat; border-radius: 50%; margin-right: 10px; margin-top: 20%;
}

.kidy8 {
  background-image:url(soma.jpeg); width: 120px; height: 120px; background-size: cover; background-repeat: no-repeat; border-radius: 50%; margin-right: 10px; margin-top: 20%;
}

.kidy9 {
  background-image:url(coc.jpeg); width: 120px; height: 120px; background-size: cover; background-repeat: no-repeat; border-radius: 50%; margin-right: 10px; margin-top: 20%;
}

.kidy10 {
  background-image:url(nova.jpeg); width: 120px; height: 120px; background-size: cover; background-repeat: no-repeat; border-radius: 50%; margin-right: 10px; margin-top: 20%;
}

.kidy11 {
  background-image:url(8rec.jpeg); width: 120px; height: 120px; background-size: cover; background-repeat: no-repeat; border-radius: 50%; margin-right: 10px; margin-top: 20%;
}

.kidy12 {
  background-image:url(iba.jpeg); width: 120px; height: 120px; background-size: cover; background-repeat: no-repeat; border-radius: 50%; margin-right: 10px; margin-top: 20%;
}

.kidy13 {
  background-image:url(drum.jpeg); width: 120px; height: 120px; background-size: cover; background-repeat: no-repeat; border-radius: 50%; margin-right: 10px; margin-top: 20%;
}

.kidy14 {
  background-image:url(mad.jpeg); width: 120px; height: 120px; background-size: cover; background-repeat: no-repeat; border-radius: 50%; margin-right: 10px; margin-top: 20%;
}

.kidy15 {
  background-image:url(apo.jpeg); width: 120px; height: 120px; background-size: cover; background-repeat: no-repeat; border-radius: 50%; margin-right: 10px; margin-top: 20%;
}


@media (max-width: 768px) {
  .kidy1,
  .kidy2,
  .kidy3,
  .kidy4,
  .kidy5,
  .kidy6,
  .kidy7,
  .kidy8,
  .kidy9,
  .kidy10,
  .kidy11,
  .kidy12,
  .kidy13,
  .kidy14,
  .kidy15{
      width: 100px;
      height: 100px;
  }
}

.beyer img {
  width: 400px; height: 400px;
}

@media (max-width: 768px) {
  .beyer img{
      width: 300px;
      height: 300px;
  }
}

.alien img {
  width: 400px; height: 400px;
}

@media (max-width: 768px) {
  .alien img{
      width: 300px;
      height: 300px;
  }
}

.vijesti img {
  width: 315px;
}

@media (max-width: 768px) {
  .vijesti img{
      width: 295px;
  }
}



